<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Mobili.watch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- v-cloak: avoid visual glitch until page is ready -->
    <style> [v-cloak] { display: none } </style>
  </head>

  <body>
    <div id="wrapper" v-bind:class="{ dark: cssSelector == 'dark' }">

      <div class="container-fluid" v-cloak>
        <div class="row">
          <div class="col-sm-12 big text-center">
            Mobili<small>.watch</small>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 medium">
            <toggle-button
              option1="dark"
              option2="light"
              v-model="cssSelector">
            </toggle-button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 big text-center" v-bind:class="pannelClass">
            <div>
              {{ time }}
            </div>
          </div>
          <div class="col-sm-6 big text-center" v-bind:class="pannelClass">
            <div>
              {{ weather }}
            </div>
          </div>
        </div>

        <div v-for="line in lines" class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 big" v-bind:class="pannelClass">
                <div>
                  {{ line.name }} <small>direction</small> {{ line.direction }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 delays">
                arrêt à {{ line.distance }} min
              </div>
              <div class="col-sm-9 delays">
                prochains :
                <ul>
                  <li v-for="delay in line.delays">{{ delay }} min</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        </div>

      <footer class="container-fluid text-center">
        <p>Concours Mobili’Play</p>
      </footer>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
